@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">OH OH.</h1>
<h2 class="text-danger">Were in trouble.</h2>

<p>
    <strong>Not sure, but I think something went terribly wrong.</strong>
</p>
